@media (max-width: 1338px)
    .sidepanel
        display: none

@media  (max-width: 1200px)
    .container
        max-width: 960px
    .about
        &__wrapper
            grid-template-columns: 400px 520px
            column-gap: 40px
        &__skills
            grid-template: minmax(115px, auto) / repeat(2, 260px)
            column-gap: 20px
            &-item
                grid-template-columns: 40px 195px
                column-gap: 15px
    .resume
        &__wrapper
            grid-template-columns: repeat(2, 390px)
    .skills
        &__wrapper
            padding: 10px
        &__item
    .portfolio
        &__wrapper
            grid-template-columns: repeat(auto-fit, 400px)
            grid-auto-rows: 400px
            gap: 45px
            justify-content: space-around
            .vertical
                grid-row: unset
                grid-column: unset
    .contacts
        &__descr
            width: 322px
        &__form
            grid-template-columns: repeat(2, 210px)
            gap: 10px
@media (max-width: 992px)
    .container
        max-width: 720px
    .title
        &_fz36
            font-size: 30px
    .about
        padding: 80px 10px 0
        &__wrapper
            grid-template-columns: 300px 300px
        &__skills
            grid-template-columns: 310px
            grid-auto-rows: minmax(115px, auto)
            &-item
                grid-template-columns: 40px 200px
                column-gap: 20px
    .resume
        &__wrapper
            grid-template-columns: repeat(2, 260px)
    .contacts
        &__wrapper
            grid-template-columns: 400px 585px
        &__form
            grid-template-columns: repeat(2,152px)
            gap: 18px
        &__triggers
            padding-top: 5px




@media (max-width: 768px)
    .container
        max-width: 540px
    .title
        &__fz48
            font-size: 28px
    .promo
        &__title
            margin-top: 10px
            line-height: 55px
    .about
        &__wrapper
            grid-template-rows: 340px auto auto
            grid-template-columns: 1fr
        &__skills
            &-item
                grid-template-columns: 60px 425px
    .resume
        padding-top: 85px
        &__wrapper
            grid-template-columns: 1fr
        &__column
            margin-bottom: 40px
    .skills
        padding-top: 85px

    .price
        &__wrapper
            grid-template-columns: repeat(2, 246px)
            column-gap: 40px
    .contacts
        &__wrapper
            display: flex
            width: 340px
            padding: 0
            margin: 0 auto
        &__photo
            display: none
        &__form
            grid-template-columns: repeat(2, 1fr)
            gap: 10px
        &__triggers
            padding-top: 5px

@media (max-width: 576px)
    .container
        max-width: 100%
        padding: 0 10px
    .title
        &__fz48
            font-size: 26px
    .promo
        &_btns
            margin-top: 32px
        &__title
            font-size: 35px
    .menu
        &__block
            width: 250px
    .about
        &__skills
            &-item
                grid-template-columns: 48px 210px
    .resume
        padding-top: 40px
        &__column
            &-title
                font-size: 26px
    .skills
        padding-top: 40px
        &__item
            width: 100%
    .contacts
        &__wrapper
            display: flex
            width: 300px
            padding: 0
            margin: 0 auto
        &__form
            display: block
        &__input
            margin: 15px
            input
                padding: 10px
        &__triggers
            padding-top: 5px

@media (max-width: 416px)
    .promo
        min-height: 660px
    .about
        padding-top: 85px
        &__skills
            &-item
                grid-template-columns: 48px 210px
    .portfolio
        &__wrapper
            grid-template-columns: repeat(auto-fit, 300px)
            img
                width: 300px
                height: 100%
    .price
        padding-top: 40px
        &__wrapper
            grid-template-columns: repeat(1, 300px)
            column-gap: 30px

@media (max-width: 319px)
    .promo
        padding-top: 85px
        min-height: 560px
        &__title
            font-size: 30px
    .about
        &__photo
            width: 290px
    .resume
        &__wrapper
            padding: 34px 14px 0 13px
        &__column
            margin-bottom: 8px
            &-title
                font-size: 20px
    .portfolio
        &__wrapper
            width: 300px
    .price
        padding-top: 50px
    .contacts
        &__wrapper
            display: flex
            width: 317px
            padding: 0
            margin: 0 auto
        &__form
            display: block
            width: 300px
        &__input
            margin: 10px
            input
                padding: 10px
        &__textarea
            margin: 10px
        &__triggers
            padding-top: 25px
            display: flex
            flex-wrap: wrap-reverse
        &__policy
            margin-bottom: 20px
        &__btn
            margin: 0 auto
            